WebService_BD/Sistema_Muestreos/Connected Services/ServicioRef_WebService_BD/WS_Base_Datos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="VerificarCredenciales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNombreUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pContrasenia" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarCredencialesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerificarCredencialesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarNuevoUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pApellidos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pCorreoElectronico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNombreUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pContrasenia" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pIdTipoUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarNuevoUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarNuevoUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerActividades">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerActividadesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerActividadesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearActividad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNombreActividad" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pTipoActividad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pDescripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearActividadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearActividadResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarActividad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNombreOriginal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDescripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pTipo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarActividadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModificarActividadResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarActividad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNombreActividad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarActividadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarActividadResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerActividad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNombreActividad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerActividadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerActividadResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarColaborador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identificador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="salario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="puesto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarColaboradorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarColaboradorResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarColaborador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="colaborador" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarColaboradorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarColaboradorResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarPuestos">
        <s:complexType />
      </s:element>
      <s:element name="BuscarPuestosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarPuestosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarColaboradores">
        <s:complexType />
      </s:element>
      <s:element name="BuscarColaboradoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarColaboradoresResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerMuestreoPreliminarId">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerMuestreoPreliminarIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerMuestreoPreliminarIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarRevisionColaborador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pIdMP" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="IdColaborador" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pIdAtividad" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuarioRegistrador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDescripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarRevisionColaboradorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarRevisionColaboradorResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarContrasenia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarContraseniaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarContraseniaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearMuestreoPreliminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idMuestreo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechahora" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="temperatura" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="humedad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearMuestreoPreliminarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearMuestreoPreliminarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarHorasNoLaborables">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idmuestreo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="horaDescanso" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarHorasNoLaborablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarHorasNoLaborablesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarHorasNoLaborables">
        <s:complexType />
      </s:element>
      <s:element name="BuscarHorasNoLaborablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarHorasNoLaborablesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BorrarHorasNoLaborables">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idHora" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BorrarHorasNoLaborablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BorrarHorasNoLaborablesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearMuestreo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fechaHoraInicio" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lapsoRandomInicio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lapsoRandomFinal" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="adm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearMuestreoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearMuestreoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FinalizarMuestreo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idMuestreo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaHoraFinal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FinalizarMuestreoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FinalizarMuestreoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarMuestreo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idMuestreo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarMuestreoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarMuestreoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarUltimoMuestreo">
        <s:complexType />
      </s:element>
      <s:element name="BuscarUltimoMuestreoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarUltimoMuestreoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarIdHoraNoLaboral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="horaInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="horaFinal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarIdHoraNoLaboralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarIdHoraNoLaboralResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AniadirHoraNoLaboral">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdMuestreo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="horaInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="horaFinal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AniadirHoraNoLaboralResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AniadirHoraNoLaboralResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerificarCredencialesSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarCredenciales" />
  </wsdl:message>
  <wsdl:message name="VerificarCredencialesSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarCredencialesResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarNuevoUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarNuevoUsuario" />
  </wsdl:message>
  <wsdl:message name="RegistrarNuevoUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarNuevoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerActividadesSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerActividades" />
  </wsdl:message>
  <wsdl:message name="ObtenerActividadesSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerActividadesResponse" />
  </wsdl:message>
  <wsdl:message name="CrearActividadSoapIn">
    <wsdl:part name="parameters" element="tns:CrearActividad" />
  </wsdl:message>
  <wsdl:message name="CrearActividadSoapOut">
    <wsdl:part name="parameters" element="tns:CrearActividadResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarActividadSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarActividad" />
  </wsdl:message>
  <wsdl:message name="ModificarActividadSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarActividadResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarActividadSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarActividad" />
  </wsdl:message>
  <wsdl:message name="EliminarActividadSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarActividadResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerActividadSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerActividad" />
  </wsdl:message>
  <wsdl:message name="ObtenerActividadSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerActividadResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarColaboradorSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarColaborador" />
  </wsdl:message>
  <wsdl:message name="InsertarColaboradorSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarColaboradorResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarColaboradorSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarColaborador" />
  </wsdl:message>
  <wsdl:message name="EliminarColaboradorSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarColaboradorResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarPuestosSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarPuestos" />
  </wsdl:message>
  <wsdl:message name="BuscarPuestosSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarPuestosResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarColaboradoresSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarColaboradores" />
  </wsdl:message>
  <wsdl:message name="BuscarColaboradoresSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarColaboradoresResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerMuestreoPreliminarIdSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerMuestreoPreliminarId" />
  </wsdl:message>
  <wsdl:message name="ObtenerMuestreoPreliminarIdSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerMuestreoPreliminarIdResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarRevisionColaboradorSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarRevisionColaborador" />
  </wsdl:message>
  <wsdl:message name="RegistrarRevisionColaboradorSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarRevisionColaboradorResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarContraseniaSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarContrasenia" />
  </wsdl:message>
  <wsdl:message name="ActualizarContraseniaSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarContraseniaResponse" />
  </wsdl:message>
  <wsdl:message name="CrearMuestreoPreliminarSoapIn">
    <wsdl:part name="parameters" element="tns:CrearMuestreoPreliminar" />
  </wsdl:message>
  <wsdl:message name="CrearMuestreoPreliminarSoapOut">
    <wsdl:part name="parameters" element="tns:CrearMuestreoPreliminarResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarHorasNoLaborablesSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarHorasNoLaborables" />
  </wsdl:message>
  <wsdl:message name="InsertarHorasNoLaborablesSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarHorasNoLaborablesResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarHorasNoLaborablesSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarHorasNoLaborables" />
  </wsdl:message>
  <wsdl:message name="BuscarHorasNoLaborablesSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarHorasNoLaborablesResponse" />
  </wsdl:message>
  <wsdl:message name="BorrarHorasNoLaborablesSoapIn">
    <wsdl:part name="parameters" element="tns:BorrarHorasNoLaborables" />
  </wsdl:message>
  <wsdl:message name="BorrarHorasNoLaborablesSoapOut">
    <wsdl:part name="parameters" element="tns:BorrarHorasNoLaborablesResponse" />
  </wsdl:message>
  <wsdl:message name="CrearMuestreoSoapIn">
    <wsdl:part name="parameters" element="tns:CrearMuestreo" />
  </wsdl:message>
  <wsdl:message name="CrearMuestreoSoapOut">
    <wsdl:part name="parameters" element="tns:CrearMuestreoResponse" />
  </wsdl:message>
  <wsdl:message name="FinalizarMuestreoSoapIn">
    <wsdl:part name="parameters" element="tns:FinalizarMuestreo" />
  </wsdl:message>
  <wsdl:message name="FinalizarMuestreoSoapOut">
    <wsdl:part name="parameters" element="tns:FinalizarMuestreoResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarMuestreoSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarMuestreo" />
  </wsdl:message>
  <wsdl:message name="EliminarMuestreoSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarMuestreoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarUltimoMuestreoSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarUltimoMuestreo" />
  </wsdl:message>
  <wsdl:message name="BuscarUltimoMuestreoSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarUltimoMuestreoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarIdHoraNoLaboralSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarIdHoraNoLaboral" />
  </wsdl:message>
  <wsdl:message name="BuscarIdHoraNoLaboralSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarIdHoraNoLaboralResponse" />
  </wsdl:message>
  <wsdl:message name="AniadirHoraNoLaboralSoapIn">
    <wsdl:part name="parameters" element="tns:AniadirHoraNoLaboral" />
  </wsdl:message>
  <wsdl:message name="AniadirHoraNoLaboralSoapOut">
    <wsdl:part name="parameters" element="tns:AniadirHoraNoLaboralResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_Base_DatosSoap">
    <wsdl:operation name="VerificarCredenciales">
      <wsdl:input message="tns:VerificarCredencialesSoapIn" />
      <wsdl:output message="tns:VerificarCredencialesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarNuevoUsuario">
      <wsdl:input message="tns:RegistrarNuevoUsuarioSoapIn" />
      <wsdl:output message="tns:RegistrarNuevoUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerActividades">
      <wsdl:input message="tns:ObtenerActividadesSoapIn" />
      <wsdl:output message="tns:ObtenerActividadesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearActividad">
      <wsdl:input message="tns:CrearActividadSoapIn" />
      <wsdl:output message="tns:CrearActividadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarActividad">
      <wsdl:input message="tns:ModificarActividadSoapIn" />
      <wsdl:output message="tns:ModificarActividadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarActividad">
      <wsdl:input message="tns:EliminarActividadSoapIn" />
      <wsdl:output message="tns:EliminarActividadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerActividad">
      <wsdl:input message="tns:ObtenerActividadSoapIn" />
      <wsdl:output message="tns:ObtenerActividadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarColaborador">
      <wsdl:input message="tns:InsertarColaboradorSoapIn" />
      <wsdl:output message="tns:InsertarColaboradorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarColaborador">
      <wsdl:input message="tns:EliminarColaboradorSoapIn" />
      <wsdl:output message="tns:EliminarColaboradorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPuestos">
      <wsdl:input message="tns:BuscarPuestosSoapIn" />
      <wsdl:output message="tns:BuscarPuestosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarColaboradores">
      <wsdl:input message="tns:BuscarColaboradoresSoapIn" />
      <wsdl:output message="tns:BuscarColaboradoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMuestreoPreliminarId">
      <wsdl:input message="tns:ObtenerMuestreoPreliminarIdSoapIn" />
      <wsdl:output message="tns:ObtenerMuestreoPreliminarIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarRevisionColaborador">
      <wsdl:input message="tns:RegistrarRevisionColaboradorSoapIn" />
      <wsdl:output message="tns:RegistrarRevisionColaboradorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarContrasenia">
      <wsdl:input message="tns:ActualizarContraseniaSoapIn" />
      <wsdl:output message="tns:ActualizarContraseniaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearMuestreoPreliminar">
      <wsdl:input message="tns:CrearMuestreoPreliminarSoapIn" />
      <wsdl:output message="tns:CrearMuestreoPreliminarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarHorasNoLaborables">
      <wsdl:input message="tns:InsertarHorasNoLaborablesSoapIn" />
      <wsdl:output message="tns:InsertarHorasNoLaborablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarHorasNoLaborables">
      <wsdl:input message="tns:BuscarHorasNoLaborablesSoapIn" />
      <wsdl:output message="tns:BuscarHorasNoLaborablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BorrarHorasNoLaborables">
      <wsdl:input message="tns:BorrarHorasNoLaborablesSoapIn" />
      <wsdl:output message="tns:BorrarHorasNoLaborablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearMuestreo">
      <wsdl:input message="tns:CrearMuestreoSoapIn" />
      <wsdl:output message="tns:CrearMuestreoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FinalizarMuestreo">
      <wsdl:input message="tns:FinalizarMuestreoSoapIn" />
      <wsdl:output message="tns:FinalizarMuestreoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarMuestreo">
      <wsdl:input message="tns:EliminarMuestreoSoapIn" />
      <wsdl:output message="tns:EliminarMuestreoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUltimoMuestreo">
      <wsdl:input message="tns:BuscarUltimoMuestreoSoapIn" />
      <wsdl:output message="tns:BuscarUltimoMuestreoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarIdHoraNoLaboral">
      <wsdl:input message="tns:BuscarIdHoraNoLaboralSoapIn" />
      <wsdl:output message="tns:BuscarIdHoraNoLaboralSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AniadirHoraNoLaboral">
      <wsdl:input message="tns:AniadirHoraNoLaboralSoapIn" />
      <wsdl:output message="tns:AniadirHoraNoLaboralSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_Base_DatosSoap" type="tns:WS_Base_DatosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarCredenciales">
      <soap:operation soapAction="http://tempuri.org/VerificarCredenciales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarNuevoUsuario">
      <soap:operation soapAction="http://tempuri.org/RegistrarNuevoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerActividades">
      <soap:operation soapAction="http://tempuri.org/ObtenerActividades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearActividad">
      <soap:operation soapAction="http://tempuri.org/CrearActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarActividad">
      <soap:operation soapAction="http://tempuri.org/ModificarActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarActividad">
      <soap:operation soapAction="http://tempuri.org/EliminarActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerActividad">
      <soap:operation soapAction="http://tempuri.org/ObtenerActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarColaborador">
      <soap:operation soapAction="http://tempuri.org/InsertarColaborador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarColaborador">
      <soap:operation soapAction="http://tempuri.org/EliminarColaborador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPuestos">
      <soap:operation soapAction="http://tempuri.org/BuscarPuestos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarColaboradores">
      <soap:operation soapAction="http://tempuri.org/BuscarColaboradores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMuestreoPreliminarId">
      <soap:operation soapAction="http://tempuri.org/ObtenerMuestreoPreliminarId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarRevisionColaborador">
      <soap:operation soapAction="http://tempuri.org/RegistrarRevisionColaborador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarContrasenia">
      <soap:operation soapAction="http://tempuri.org/ActualizarContrasenia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearMuestreoPreliminar">
      <soap:operation soapAction="http://tempuri.org/CrearMuestreoPreliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarHorasNoLaborables">
      <soap:operation soapAction="http://tempuri.org/InsertarHorasNoLaborables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarHorasNoLaborables">
      <soap:operation soapAction="http://tempuri.org/BuscarHorasNoLaborables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarHorasNoLaborables">
      <soap:operation soapAction="http://tempuri.org/BorrarHorasNoLaborables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearMuestreo">
      <soap:operation soapAction="http://tempuri.org/CrearMuestreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizarMuestreo">
      <soap:operation soapAction="http://tempuri.org/FinalizarMuestreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMuestreo">
      <soap:operation soapAction="http://tempuri.org/EliminarMuestreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUltimoMuestreo">
      <soap:operation soapAction="http://tempuri.org/BuscarUltimoMuestreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarIdHoraNoLaboral">
      <soap:operation soapAction="http://tempuri.org/BuscarIdHoraNoLaboral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AniadirHoraNoLaboral">
      <soap:operation soapAction="http://tempuri.org/AniadirHoraNoLaboral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_Base_DatosSoap12" type="tns:WS_Base_DatosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarCredenciales">
      <soap12:operation soapAction="http://tempuri.org/VerificarCredenciales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarNuevoUsuario">
      <soap12:operation soapAction="http://tempuri.org/RegistrarNuevoUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerActividades">
      <soap12:operation soapAction="http://tempuri.org/ObtenerActividades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearActividad">
      <soap12:operation soapAction="http://tempuri.org/CrearActividad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarActividad">
      <soap12:operation soapAction="http://tempuri.org/ModificarActividad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarActividad">
      <soap12:operation soapAction="http://tempuri.org/EliminarActividad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerActividad">
      <soap12:operation soapAction="http://tempuri.org/ObtenerActividad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarColaborador">
      <soap12:operation soapAction="http://tempuri.org/InsertarColaborador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarColaborador">
      <soap12:operation soapAction="http://tempuri.org/EliminarColaborador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPuestos">
      <soap12:operation soapAction="http://tempuri.org/BuscarPuestos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarColaboradores">
      <soap12:operation soapAction="http://tempuri.org/BuscarColaboradores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMuestreoPreliminarId">
      <soap12:operation soapAction="http://tempuri.org/ObtenerMuestreoPreliminarId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarRevisionColaborador">
      <soap12:operation soapAction="http://tempuri.org/RegistrarRevisionColaborador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarContrasenia">
      <soap12:operation soapAction="http://tempuri.org/ActualizarContrasenia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearMuestreoPreliminar">
      <soap12:operation soapAction="http://tempuri.org/CrearMuestreoPreliminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarHorasNoLaborables">
      <soap12:operation soapAction="http://tempuri.org/InsertarHorasNoLaborables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarHorasNoLaborables">
      <soap12:operation soapAction="http://tempuri.org/BuscarHorasNoLaborables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BorrarHorasNoLaborables">
      <soap12:operation soapAction="http://tempuri.org/BorrarHorasNoLaborables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearMuestreo">
      <soap12:operation soapAction="http://tempuri.org/CrearMuestreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizarMuestreo">
      <soap12:operation soapAction="http://tempuri.org/FinalizarMuestreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMuestreo">
      <soap12:operation soapAction="http://tempuri.org/EliminarMuestreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUltimoMuestreo">
      <soap12:operation soapAction="http://tempuri.org/BuscarUltimoMuestreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarIdHoraNoLaboral">
      <soap12:operation soapAction="http://tempuri.org/BuscarIdHoraNoLaboral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AniadirHoraNoLaboral">
      <soap12:operation soapAction="http://tempuri.org/AniadirHoraNoLaboral" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_Base_Datos">
    <wsdl:port name="WS_Base_DatosSoap" binding="tns:WS_Base_DatosSoap">
      <soap:address location="http://localhost:63608/WS_Base_Datos.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_Base_DatosSoap12" binding="tns:WS_Base_DatosSoap12">
      <soap12:address location="http://localhost:63608/WS_Base_Datos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>